@namespace Blazr.Demo.Database.UI
@implements IDisposable

@if (this.WeatherForecastViewService!.Records != null)
{
    <h1>Weather Forecast Records</h1>
    <h3>Count: @this.WeatherForecastViewService.RecordCount</h3>
}

@code {
    [Inject] private WeatherForecastsViewService? _weatherForecastViewService { get; set; }
    private WeatherForecastsViewService WeatherForecastViewService => _weatherForecastViewService!;

    [Inject] private WeatherForecastNotificationService? _weatherForecastNotificationService { get; set; }
    private WeatherForecastNotificationService WeatherForecastNotificationService => _weatherForecastNotificationService!;

    protected override void OnInitialized()
        => this.WeatherForecastNotificationService.RecordSetChanged += this.OnListChanged;

    private void OnListChanged(object? sender, RecordSetChangedEventArgs e)
        => this.StateHasChanged();

    public void Dispose()
        => this.WeatherForecastNotificationService.RecordSetChanged -= this.OnListChanged;
}
