@page "/"
@namespace Blazr.Demo.Database.UI

<PageTitle>Cold Elm Coders Demonstration Site</PageTitle>

<h1>Cold Elm Coders Demonstration Site</h1>

<p class="mt-3">
    This site is a demonstrator for my Blazor community code, libraries and projects.  For detail on what's on this site and in my other Repos use the links below:
</p>
<ul>
    <li>
        <a href="https://github.com/ShaunCurtis/Blazr.Demo.Database">The Repo for this site</a>
    </li>
    <li>
        <a href="https://github.com/ShaunCurtis">My Github Repos</a>
    </li>
    <li>
        <a href="https://shauncurtis.github.io/">My Personal Github Site</a>
    </li>
</ul>
